@import "../styles/abstracts/variables";
@import "../styles/abstracts/mixins";

.navigation {
  display: flex;

  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: $color-primary-dark;
  border-bottom: 4px solid $color-primary;

  top: -1px;
  z-index: 3000;

  @include respond(tab-port) {
    display: none;
  }
}

.burgerBtn {
  position: sticky;
  top: 0px;

  z-index: 3000;
  display: none;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.cart {
  color: white;
}
